#app {
	margin: auto;

	max-width: var(--app-width);

	display: flex;
	flex-flow: row wrap;

	align-items: center;
}

.rep-max {
	box-shadow: 1px 1px 1px var(--shadow-color);

	flex: 1 1 20%;

	min-width: calc(var(--app-width) / 5 - 5 * var(--panel-gap));

	background: white;

	border-radius: 2px;
	border: none;

	margin: 5px;
	padding: 5px;

	transition: box-shadow 0.3s;

	& input {
		font-size: 1em;

		text-align: center;
		border: none;
		font-weight: bold;

		width: 100%;

		outline: none;

		background: none;

		&:-moz-ui-invalid {
			box-shadow: none;
		}
	}

	&.has-focus {
		background: var(--panel-focus-color);
		box-shadow: 3px 3px 8px var(--shadow-color);

		color: #ddd;

		& input {
			color: white;

			&::selection {
				background: #fff;
				color: #000;
			}
		}
	}
}
