<label
	ref:container
	class="rep-max"
>
	{reps} &#215;

	<input
		ref:input
		on:blur="setFocus(false)"
		on:focus="setFocus(true)"
		on:input="setRepMax(event.target.value)"
		value="{weight.toFixed(1)}"
		min="0"
		type="number"
	>
</label>

<script>
import store from "../script/store";
import { getRepMax, getWeight } from "../script/lib/repMaxCalc.js";

export default {
	data() {
		return {
			weight: 0
		};
	},

	methods: {
		update() {
			if (document.activeElement === this.refs.input) {
				// do not change value while user types
				return;
			}

			this.set({
				weight: getWeight(store.getState().repMax, this.get().reps)
			});
		},
		setRepMax(weight) {
			weight = parseFloat(weight) || 0;

			store.dispatch({
				type: "REPMAX_SET",
				payLoad: getRepMax(weight, this.get().reps)
			});
		},
		setFocus(hasFocus) {
			this.refs.container.classList.toggle("has-focus", hasFocus);

			if (hasFocus) {
				this.refs.input.select();
			}
		}
	},

	oncreate() {
		this.update();
		this.unsubscribe = store.subscribe(this.update.bind(this));
	},

	ondestroy() {
		this.unsubscribe();
	}
};
</script>